<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">	
<title>E-kart | {{product.pro_name}}</title> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

<style type="text/css">
#img{
height: 90px;width: 50px;
padding:5px;
}


.dropdown-menu {
  min-width: 65px;
  
}
.btn:hover {
  color: skyblue;
  box-shadow: 5px 10px 8px #BFBFBF;
}

</style>
</head>
<body style="background-color:#F0FFFF;">

   <div class="container-fluid text-right" style="background-color:pink;box-shadow: 5px 10px 8px #BFBFBF;">
   <a href="/index"><span style="position:absolute;left:30px;font-size:20px" class="glyphicon glyphicon-arrow-left"></span></a>
    <b><span ng-app="myapp" ng-controller="myCtrl">{% verbatim %}
      {{time}}{% endverbatim %}</span></b>&nbsp;&nbsp;|| &nbsp;
<b><span class="glyphicon glyphicon-earphone"></span>: +91 7615834732</b> &nbsp;|| &nbsp; 
     <b><span class="glyphicon glyphicon-envelope"></span>: Contact@ekart.com </b> &nbsp;
     {% if user.is_authenticated %}
     <a href="/show_cart"><span class="glyphicon glyphicon-shopping-cart" style="color:brown;font-size:20px"></span></a>
    &nbsp;
     <div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{user.first_name}}
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Profile</a><br>
    <a class="dropdown-item" href="#">Order</a><br>
    <a class="dropdown-item" href="/accounts/LogOut">LogOut</a>
    
  
  </div>
</div>

  
    {% else %}
    <a href="/accounts/login"><button type="button" class="btn btn-success btn-sm">
      <span class="glyphicon glyphicon-log-in"></span> LogIn</button></a>
      {% endif %}
      </div> 
       
          <b><font face="Ink Free" color="brown" size=6px>E-kart<img src="/static/logo1.png" width=50 height=50></font></b> &nbsp;<b class="bg bg-info"><i>Welcome to India's No.1 E-Commerce site</i></b></div>
                 
		<div class="container-fluid">
    <h2 align="center"><em>{{user.first_name}} 's Cart</em></h2>
    <hr><div class="container">
    
  <em><h4 style="color:red;text-align:center">Oops... Your cart is Empty...!</h1></em>

      </div>
      </div></div>
      <!-- Footer Starts Here-->
{% include "footer.html" %}