
<div class="container-fluid"><br>

			<div style="color:brown;font-family: Segoe Script;background-color:white;font-weight:bold;text-align:center;box-shadow: 5px 10px 8px #BFBFBF;">
				<br><span> &copy; copyright 2021 | Developed by Tausif Ahmad
			
				</span>
			
			</div>
 		</div>
		 </div>
</div>
<script>
	var app=angular.module('myapp',[])
	app.controller('myCtrl',function($scope,$interval){
	$scope.time=new Date().toLocaleTimeString()
	$interval(function(){
	$scope.time=new Date().toLocaleTimeString()
})
})
</script>
</body>
</html>