<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <!-- Bootstrap CSS -->
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <title>Help and Feedback</title>
  </head>
  <body style="background-color:#ADD8E6;">
  
  <div class="container-fluid">
   <div class="container-fluid text-right" style="background-color:pink;">
   	<!-- Time is written here-->
   	<b><span ng-app="myapp" ng-controller="myCtrl">

      {% verbatim %}
      {{time}}{% endverbatim %}</span></b>&nbsp;&nbsp;|| &nbsp;

<b><span class="glyphicon glyphicon-earphone"></span>: +91 7615834732</b> &nbsp;|| &nbsp;
     <b><span class="glyphicon glyphicon-envelope"></span>: Contact@ekart.com</b> &nbsp;
     {% if user.is_authenticated %}
     <em class="bg bg-success">Welcome,<b>{{user.first_name}}</b></em>
     
     {% endif %}
	 
      </div> 
       <div class="container-fluid">
          <b><font face="Ink Free" color="brown" size=6px>E-kart<img src="/static/logo1.png" width=50 height=50></font></b> &nbsp;<b class="bg bg-info"><i>Welcome to India's No.1 E-Commerce site</i></b></div>
            <div class="container">
             <div class="container" style="background-color:#4EE2EC">
               <div class="row">
                <div class="col-md-12">
                <div class="navbar"><center>		
				
			
                <a class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <font size=3px color=black style="padding:20px;"> Help and Feedback</font>
                </a>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color:#ADD8E6"> 
   
                    <a class="dropdown-item" href="/contact"><font size=3px color=black style="padding:20px;">Contact Us</font></a>
                    <a class="dropdown-item" href="/helpandfeedback"><font size=3px color=black style="padding:20px;">Help and Feedback</font></a>
                   </div>

				
                <a href="/index"><font size=3px color=black style="padding:20px;">Home</font></a>
                <a href="/about"><font size=3px color=black style="padding:20px;">About Us</font></a>
                <a href="/gallery"><font size=3px color=black style="padding:20px;">Gallery</font></a>
        
		      </center>
              </div>
              </div>
             </div>
            </div>
           </div>
		  </div>
		  
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		  
   <center> <h3>Fill The Form</h3></center>
    <form>
     <div class="mx-auto" style="width: 200px;">
       <label for="exampleInputName">Name</label>
       <input type="name" class="form-control" id="exampleInputtext" aria-describedby="nameHelp" placeholder="Enter Your Name">
         <small id="nameHelp" class="form-text text-muted"></small>
		 
    </div><br>
  <div class="mx-auto" style="width:200px;">
    <label for="exampleInputEmail">Email</label>
    <input   <small id="emailHelp" class="form-text text-muted" placeholder="Enter Your Email"></small>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div><br>
   <div class="mx-auto" style="width:200px;">
       <label for="exampleInputText">Message</label>
       <input <small id="inputsm"  type="text" class="form-control input-sm" placeholder="type your massage...."></small>
  
    </div><br>
  
 <center> <button type="button" color="blue" class="btn btn-primary">Submit</button></center>
</form>
<!--Footer Start here-->
		{% include 'footer.html' %}